*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #141414;
  color: #f8f9fa;

  height: 100vh;
  width: 100vw;

  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;

  margin-top: 2rem;

}

.container {
  width: 50vw;
}

.chords{
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  height: 4rem;

  background-color: #f8f9fa;
  color: #141414;
  border: 1px solid #f8f9fa;
}

footer {
  margin-bottom: 2rem;
}

a {
  color: #f8f9fa;
}

/* PIANO CSS */

.canvas {
  display: flex;
  margin: 2rem 0;
}

.white {
  width: 10vmin;
  height: 20vmin;
  background-color: white;
  border: 1px solid #333;
}

.black {
  width: 5vmin;
  height: 10vmin;
  background-color: black;
  margin-left: -3vmin;
  margin-right: -3vmin;
  z-index: 2;
}

.active {
  background-color: red;
}
